:root {
    --cell-width: 9vw;
    --cell-height: 9vw;

}

html {
    height: 100%;

}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.board {
    display: flex;
    flex-direction: column;

}

.board-row {
    display: flex;
    flex-direction: row;



}
.cell {
    width: var(--cell-width);
    height: var(--cell-height);
    
    border: 1px solid red;  
}
.cell.cell-black {
    
    background-color: black;
    
}

.cell.cell-white {
    
    background-color: white;
    
}

@media(min-width: 560px) {
    :root {
        --cell-width: 4vw;
        --cell-height: 4vw;
    }

}