@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff")
}

@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff")
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33)
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 0;

}

.logo {
    font-size: 2em;
    background-color: bisque;
    display: block;
    text-align: center;
    font-family: lakeshore;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.main-class.hidden {
    --thumbnails-img-width: 35vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.33) 
}


.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    transition: 5s cubic-bezier(0.1, 2, 0.9, 1);


}

.hidden .details-container {
    display: none;
}

.details-frame {
    position: relative;
}
.hide-button {
    position: absolute;
    top: 3vh;
    right: 3vw;
}

.details-image {
    width: 90vw;
    height: 70vw;
    border-radius: 25%;

}

.details-title {
    display: block;
    font-family: airstream;
    font-style: italic;
    background-color: beige;
    position: absolute;
    font-size: 2em;
    left: 0;
    bottom: 2vh;



}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;

}
.hidden .thumbnails-list {
    max-height: 80vh;
    margin-bottom: 10vh;
}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px black;
    border-radius: 25%;
    overflow: hidden;
}

.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: beige;
}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}
.is-point {
     transform: scale(0.001);  
     transition: 0s; 
}
@media(min-width: 560px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
    }

    .logo {
        font-size: 1.8em;
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 75vh;
        order: -1;
        justify-content: flex-start;
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;

    }
    .hidden.main-class {
        --thumbnails-img-width: 18vw;
        --thumbnails-img-height: 12vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
    }

    .details-image {
        width: 45vw;
        height: 38vw;
    }

    .details-container {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    


    @media (min-width: 900px) {
        .thumbnails-list {
            padding-right: 2vw;
            margin-top: 2.5vh;
            max-height: 86vh;
        }

        .thumbnails-title {
            font-size: 1.5em;
        }

        .details-container {
            margin-top: 5vh;
            margin-right: 5vw;
        }



        

        .details-image {
            width: 45vw;
            height: 35vw;
        }

    }


}