.logo  {
font-size: 3em;
}
.main-class {

}
.details-container {

}
.details-image {

}
.details-title {
display: block;
}
.thumbnails-list {
list-style: none;
}
.thumbnails-item {

}
.thumbnails-image {

}
.thumbnails-title {
    display: block; 
}
.thumbnails-anchor {
   
}
