body {
   display: flex; 
   flex-direction: column;
   background-color: azure;
}
.logo  {
font-size: 2em;
background-color: bisque;
display: block;
text-align: center;

}
.main-class {

}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;

}
.details-image {
    width: 70vw;
    height: 60vw;
    border-radius: 25%;
}
.details-title {
display: block;

}
.thumbnails-list {
list-style: none;
display:flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: auto;
justify-content: space-around;
padding-left: 0;
}
.thumbnails-item {
width: 20vw;
height: 20vw;
margin-top: 2.5vh;
border: solid 1px black
}
.thumbnails-image {
    width: 20vw;
    height: 15vw;
}
.thumbnails-title {
    display: block; 
    text-align: center;
    height: 5vw;
    background-color: beige;
}
.thumbnails-anchor {
   text-decoration: none;
}
