body, html {
    height: 100%;
}
body {
    background-color: aliceblue;
}
.form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5vh;
    
}
.date-label {
    margin-top: 5vh;
    display: flex;
    flex-direction: column; 
    height: 10vh;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    width: 40vw;
    
}
.error {
    border-color: red;
    color: red;
}
.active {
    background-color: blue;
    color: white;
}
.employees-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70vh;
    list-style: none;
    overflow-y: scroll;
    justify-content: space-around;
}
.employees-item {
    max-width: 30vw;
    background-color: blue;
    border-radius: 25%;
    text-align: center;
    border: 2px solid blue;
    margin-top: 10vh;
    overflow: hidden;
}
.employees-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.employees-item-paragraph {
    background-color: white;
    font-weight: bold;
}
.buttons-menu {
    display: flex;
    justify-content: center;
}
.btn-menu+.btn-menu {
    margin-left: 10vw;
}
.center {
    text-align: center;
}


