.buttons {
    margin-left: 30vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.movies-list {
    max-height: 80vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    list-style: none;
}
.movie-item {
    
    display:flex;
    flex-direction: row;
}
.movie-item+.movie-item {
    margin-top: 8vh;
}
.movie-text {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
}
.movie-overview {
    display: block;
    padding: 4vh;
    height: 30vh;
    background-color: beige;
    font-size: 1.5em;
    font-weight: bold;
    border: solid 1px blue
}
.movie-title {
    display: block;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 2em;
}
.movie-image {
    width: 60vh;
    height: 80vh
}
.active {
    background-color: blue;
    color: white;
}
body {
    background-color: azure;
}